
* {
  margin: 2 rem;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
}

/* NAVBAR STYLES */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #94aa6d;
  color: white;
  padding: 12px 20px;
  position: relative;
  border-radius: 1rem;
}

.logo {
  font-size: 35px;
  font-weight: bolder;
  color: rgb(247, 215, 146);
  font-family: cursive;
  letter-spacing: 2px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 26px;
}

.nav-links li a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: color 0.3s;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-links li a:hover {
  color: rgb(173, 177, 230);
}

/* Hide default checkbox */
.menu-toggle {
  display: none;
}

/* Hamburger button */
.hamburger {
  display: none;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;

}

.hamburger span {
  width: 25px;
  height: 3px;
  background: rgb(255, 255, 255);
  
  transition: all 0.3s ease;
}

/* MOBILE STYLES */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #94aa6d;
    width: 100%;
    text-align: center;
    padding: 20px 0;
  }

  .menu-toggle:checked + .hamburger + .nav-links {
    display: flex;
  }

  .hamburger {
    display: flex;
  }

  /* Animate hamburger to X */
  .menu-toggle:checked + .hamburger span:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .menu-toggle:checked + .hamburger span:nth-child(2) {
    opacity: 0;
  }

  .menu-toggle:checked + .hamburger span:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}


