{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<!-- bg -->
<div class="min-h-screen bg-green-200/70 py-10 px-4">

  <!-- Heading -->
  <h2 class="text-3xl font-bold text-center text-gray-800 mb-10">
    Hey, Welcome to Shreyansi's Django Projects! 🪐👧
  </h2>

  <!-- Buttons Container -->
  <div class="flex flex-col items-center gap-6 max-w-xl mx-auto">

    <!-- TASK 1 -->
    <a href="{% url 'post_list' %}" 
       class="w-full bg-black text-white text-center py-6 px-8 rounded-xl shadow-lg hover:bg-yellow-400 transition">
      <div class="text-xl font-semibold">Blog Management System</div>
      <div class="font-bold">TASK 1</div>
    </a>

    <!-- TASK 2 -->
    <a href="{% url 'product_list' %}" 
       class="w-full bg-green-500 text-white text-center py-6 px-8 rounded-xl shadow-lg hover:bg-black transition">
      <div class="text-xl font-semibold">E-Commerce System</div>
      <div class="font-bold">TASK 2</div>
    </a>

    <!-- TASK 3 -->
    <a href="{% url 'school_home' %}" 
       class="w-full bg-black text-white text-center py-6 px-8 rounded-xl shadow-lg hover:bg-yellow-500 transition">
      <div class="text-xl font-semibold">School Management System</div>
      <div class="font-bold">TASK 3</div>
    </a>

    <!-- TASK 4 -->
    <a href="{% url 'library_home' %}" 
       class="w-full bg-yellow-600 text-white text-center py-6 px-8 rounded-xl shadow-lg hover:bg-black transition">
      <div class="text-xl font-semibold">Library Management System</div>
      <div class="font-bold">TASK 4</div>
    </a>

    <!-- TASK 5 -->
    <a href="{% url 'event-list' %}" 
       class="w-full bg-black text-white text-center py-6 px-8 rounded-xl shadow-lg hover:bg-yellow-500 transition">
      <div class="text-xl font-semibold">Event Management System</div>
      <div class="font-bold">TASK 5</div>
    </a>

  </div>
</div>

{% endblock %}
